.container {
    max-width: 120rem;
    margin: 0 auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
    }
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.4rem;

    @media only screen and (max-width: $bp-small) {
        height: 12rem;
        flex-wrap: wrap;
    }
}

.content {
    display: flex;
    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-3);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    @media only screen and (max-width: $bp-small) {
        padding-bottom: 3rem;
    }
}

.hotel-view {
    background-color: #fff;
    flex: 1;
    @media only screen and (max-width: $bp-small) {
        display: flex;
        flex-direction: column;
    }
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: 1px solid var(--color-grey-light-2);
    font-size: 1.4rem;
    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        padding: 0;
    }
}

.description {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    @media only screen and (max-width: $bp-small) {
        padding: 2rem;
        margin-right: 0;
    }
}

.user-reviews {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    @media only screen and (max-width: $bp-small) {
        display: grid;
        grid-auto-flow: column;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
}